* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    margin: 20px;
    padding:20px;
}

h1 {
    font-size: 50px;
}

.separator {
    width: 100%;
    background-color: lightgray;
    height: 8px;
}

/* Parent container for both nav lists */
.nav-container {
    display: flex;
    justify-content: end; /* Pushes child elements to opposite ends */
    align-items: center; /* Vertically aligns nav items */
    padding: 10px 5px; /* Optional: Add some padding for better spacing */
    background-color: white; /* Optional: Background color for navigation bar */
}

/* Styles for nav-list1 */
ul.nav-list1 {
    list-style: none; /* Remove bullet points */
    padding: 10px;
    margin-right: 1140px;
    display: flex;
}

ul.nav-list2  {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin: 20px;
    display: flex;
}

ul.nav-list3 {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin-left: 30px;
    display: flex;
}

/* Link styling for both nav bars */
.nav-container a {
    text-decoration: none;
    color: white;
    padding: 5px 5px;
    border-radius: 4px; /* Optional: Rounded corners */
}

.nav-container a:hover {
    background-color: #e4c420; /* Optional: Add hover effect */
}

.main-img {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
    
}

.ingredients {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 40px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    background-image: url("img/list-bg.png");
    background-size: cover;        /* fills the container */
    background-repeat: no-repeat;  /* prevents tiling */
    background-position: center;   /* centers image */ 
    font-size: 16px;
}

.ingredients li {
  margin-bottom: 8px;
}

.ingredients ul {
  column-count: 2;
  column-gap: 40px; /* space between columns */
  list-style-type: circle;
  padding-left: 20px;
}

.author {
    display: flex;
    justify-content: end; /* Pushes child elements to opposite ends */
    align-items: center; /* Vertically aligns nav items */
    padding: 10px 5px; /* Optional: Add some padding for better spacing */
    background-color: white; /* Optional: Background color for navigation bar */
}

.author-info {
    margin-right: 1220px;
    padding-left: 30px;
    
}

button {
    width: 300px;
    height: 50px;
    color: white;
    background-color: lightsalmon;
}

footer {
    text-align: center;
    font-weight: bold;
}

.small-logo {
    justify-content: center;
    margin-top: 25px;
}

.fancy {
    font-family: 'Dancing Script', cursive;
}

h3 {
    font-size: 22px;
}

